.errado {
    border-color: red;
}
.correto {
    border-color: green;
}


.jumbotron {
    text-align: center;
    background: darkcyan;
}
.botao-newsletter {
    background-color: lightgray;
    width: 100%;
}
.botao-newsletter:hover {
    background-color: paleturquoise;
}
.botao-alterado:hover {
    background-color: paleturquoise;
    color: black;
}

.card-deck {
    margin-top: 5%
}
.mapper {
    margin-left:-5%;
    margin-top:10%
}

.imagensprogramacao img {
    max-width: 100%;
    width: 200px;
    margin-top: 8%;
    position: relative;
}

#map {
    height: 250px;
    width: 100%;
}

.card {
    margin-bottom: 12%;
}
.botao-alterado {
    margin-bottom: 4%;
    background-color: darkslateblue;
    color: white;
    width: 60%;
    margin-left: 19%;
}
#construcao {
    font-size: 90px;
}
#preco {
    color: darkgreen
}

#cpuid {
    background: white
}

#start {
    width:100%;
    background: darkcyan;
}