<!DOCTYPE html>
<html lang="en">

<head>
    <title>WebTech Informática</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/footer.css">
    <link rel="stylesheet" href="../../css/response.css">
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="stylesheet" href="../../css/watson.css">
</head>

<body>
    <div class="container" id="start">
        <div class="jumbotron">
            <h1>WebTech Informática</h1>
            <p>
                <strong>WebTech Informática</strong> O melhor site para compras de hardware</p>
        </div>
    </div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="home">E-Commerce</a>
            </div>
            <ul class="nav navbar-nav">
                <li>
                    <a href="/html/home"> Inicio </a>
                </li>
                <li>
                    <a href="/html/cpu"> Computadores </a>
                </li>
                <li>
                    <a href="/html/note"> Notebook's </a>
                </li>
                <li>
                    <a href="/html/imp"> Impressoras </a>
                </li>
                <li>
                    <a href="/html/videogame"> Video Games </a>
                </li>
                <li>
                    <a href="/html/placavideo"> Placas de Video </a>
                </li>
                <li>
                    <a href="/html/monitor"> Monitores </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/html/carrinho">
                        <span class="glyphicon glyphicon-shopping-cart"></span> Meu carrinho </a>
                </li>
                <li>
                    <a href="/html/registro">
                        <span class="glyphicon glyphicon-user"></span> Registrar-se</a>
                </li>
                <li>
                    <a href="/html/login">
                        <span class="glyphicon glyphicon-log-in"></span> Logar</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container" style="text-align: center">
        <div class="col-sm-3"></div>
        <div class="col-sm-6" style="background: white">
            <div class="erros">
                <%if(success) {%>
                    <div class="alert alert-success">
                        Foi enviado um email com o código de ativação
                    </div>
                    <%}%>
            </div>
            <form>
                <div class="form-group">
                    <label for="email">Email</label>
                    <div class="input-group">
                        <span class="input-group-addon">@</span>
                        <input type="email" class="form-control" id="email" name="email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="codigo">Código Ativação</label>
                    <input type="text" class="form-control" id="codigoativacao" name="codigoativacao">
                </div>

                <div class="form-group">
                    <input type="submit" class="form-control botao-alterado" id="ativar" value="Ativar Conta">
                </div>
            </form>
        </div>
    </div>
    <div class="container-fluid watsonview text-center disable">
        <div class="text-center watsonleft">
            <div class="chat-column">
                <a href="" class="watsonx watson-alterado">
                    <i class=" fa fa-times-circle">   </i>
                </a>
                <div id="chat"></div>
                <label for="textInput" class="inputOutline">
                        <a href="" class="watsonx watson-alterado2">
                                <i class=" fa fa-send">   </i>
                            </a>
                    <input id="textInput" class="input" autofocus placeholder="Digite algo" type="text"> 
                </label>
            </div>
        </div>
    </div>
    <footer class>
        <div class="footer" id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                        <h3> Informações </h3>
                        <ul>
                            <li>
                                <a href="/sobrenos"> Sobre</a>
                            </li>
                            <li>
                                <a href="#"> Contate-Nos </a>
                            </li>
                            <li>
                                <a href="#"> Seja Nosso Parceiro </a>
                            </li>
                            <li>
                                <a href="#"> Trabalhe Conosco </a>
                            </li>
                        </ul>
                    </div>
                </div>
                        <h3 id="novidades"> Novidades </h3>
                        <ul>
                            <li>
                                <div class="input-append newsletter-box text-center">
                                    <input type="text" class="full text-center" placeholder="Email">
                                    <button class="btn  bg-gray botao-newsletter" type="button" id="recebernovidades"> Receber NewsLetter
                                        <i class="fa fa-long-arrow-right"> </i>
                                    </button>
                                </div>
                            </li>
                        </ul>
                        <ul class="social">
                            <li>
                                <a href="https://www.facebook.com/robinson.luiz.988" target="_blank">
                                    <i class=" fa fa-facebook">   </i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/RobinsonCosta_" target="_blank">
                                    <i class="fa fa-twitter">   </i>
                                </a>
                            </li>
                            <li>
                                <a href="https://plus.google.com/118417461892179056468?hl=pt-BR" target="_blank">
                                    <i class="fa fa-google-plus">   </i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/watch?v=WtE011iVx1Q&list=RDWtE011iVx1Q&start_radio=1 " target="_blank">
                                    <i class="fa fa-youtube">   </i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <p class="pull-left"> Copyright © Alura E-commerce 2018. All right reserved. </p>
                <div class="pull-right">
                    <ul class="nav nav-pills payments">
                        <li>
                            <i class="fa fa-cc-visa"></i>
                        </li>
                        <li>
                            <i class="fa fa-cc-mastercard"></i>
                        </li>
                        <li>
                            <i class="fa fa-cc-amex"></i>
                        </li>
                        <li>
                            <i class="fa fa-cc-paypal"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
<script src="../../js/ValidarCampos.js"></script>
<script src="../../js/watson.js"></script>

</html>