<!DOCTYPE html>
<html lang="en">

<head>
    <title>WebTech Informática</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/footer.css">
    <link rel="stylesheet" href="../../css/response.css">
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="stylesheet" href="../../css/watson.css">
</head>

<body>
    <div class="container" id="start">
        <div class="jumbotron">
            <h1>WebTech Informática</h1>
            <p>
                <strong>WebTech Informática</strong> O melhor site para compras de hardware</p>
        </div>
    </div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="home">E-Commerce</a>
            </div>
            <ul class="nav navbar-nav">
                <li>
                    <a href="/html/home"> Inicio </a>
                </li>
                <li>
                    <a href="/html/cpu"> Computadores </a>
                </li>
                <li>
                    <a href="/html/note"> Notebook's </a>
                </li>
                <li>
                    <a href="/html/imp"> Impressoras </a>
                </li>
                <li>
                    <a href="/html/videogame"> Video Games </a>
                </li>
                <li>
                    <a href="/html/placavideo"> Placas de Video </a>
                </li>
                <li>
                    <a href="/html/monitor"> Monitores </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/html/carrinho">
                        <span class="glyphicon glyphicon-shopping-cart"></span> Meu carrinho </a>
                </li>
                <li>
                    <a href="/html/registro">
                        <span class="glyphicon glyphicon-user"></span> Registrar-se</a>
                </li>
                <li>
                    <a href="/html/login">
                        <span class="glyphicon glyphicon-log-in"></span> Logar</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid watsonview text-center disable">
        <div class="text-center watsonleft">
            <div class="chat-column">
                <a href="" class="watsonx watson-alterado">
                    <i class=" fa fa-times-circle">   </i>
                </a>
                <div id="chat"></div>
                <label for="textInput" class="inputOutline">
                        <a href="" class="watsonx watson-alterado2">
                                <i class=" fa fa-send">   </i>
                            </a>
                    <input id="textInput" class="input" autofocus placeholder="Digite algo" type="text"> 
                </label>
            </div>
        </div>
    </div>
    <div class="container-fluid text-center">
        <div class="col-sm-8" style="font-size: 20px;margin-top: 5%">
            É um site para treinamento dos cursos da alura envolvendo
                <strong>JavaScript</strong>
        
                <strong>HTML</strong>
                <strong>CSS</strong>,
                <strong>JavaScript OO e NodeJS</strong>, através do banco de dados
                <strong>MongoDB</strong>
                e mais algumas ferramentas pesquisadas.
            <div class="imagensprogramacao">
                <img src="../../imagens/github.png">
                <img src="../../imagens/html-css.png">
                <img src="../../imagens/js.png">
                <img src="../../imagens/node-js.png">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="mapper">
                <strong style="color:brown">
                    <p>Onde estamos?</p>
                    <p>Cidade : Rio Grande</p>
                    <p>Estado : Rio Grande do Sul</p>
                    <p>Endereço: Rua Umberto Ibrahim de Farias, Nº 325</p>
                    <h3>
                        <p>Você pode também ver o local da loja fisica através do Mapa abaixo:</p>
                    </h3>
                </strong>
            </div>
            <div id="map"></div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Informações </h3>
                    <ul>
                        <li>
                            <a href="/sobrenos"> Sobre</a>
                        </li>
                        <li>
                            <a href="#"> Contate-Nos </a>
                        </li>
                        <li>
                            <a href="#"> Seja Nosso Parceiro </a>
                        </li>
                        <li>
                            <a href="#"> Trabalhe Conosco </a>
                        </li>
                    </ul>
                </div>
                    <h3 id="novidades"> Novidades </h3>
                    <ul>
                        <li>
                            <div class="input-append newsletter-box text-center">
                                <input type="text" class="full text-center" placeholder="Email">
                                <button class="btn  bg-gray botao-newsletter" type="button" id="recebernovidades"> Receber NewsLetter
                                    <i class="fa fa-long-arrow-right"> </i>
                                </button>
                            </div>
                        </li>
                    </ul>
                    <ul class="social">
                        <li>
                            <a href="https://www.facebook.com/robinson.luiz.988" target="_blank">
                                <i class=" fa fa-facebook">   </i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/RobinsonCosta_" target="_blank">
                                <i class="fa fa-twitter">   </i>
                            </a>
                        </li>
                        <li>
                            <a href="https://plus.google.com/118417461892179056468?hl=pt-BR" target="_blank">
                                <i class="fa fa-google-plus">   </i>
                            </a>
                        </li>
                        <li>
                            <a href="" class="watsonbutton">
                                <i class=" fa fa-comments">   </i>
                                <img id="status" src="../../imagens/online.png">    
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <p class="pull-left"> Copyright © Alura E-commerce 2018. All right reserved. </p>
                <div class="pull-right">
                    <ul class="nav nav-pills payments">
                        <li>
                            <i class="fa fa-cc-visa"></i>
                        </li>
                        <li>
                            <i class="fa fa-cc-mastercard"></i>
                        </li>
                        <li>
                            <i class="fa fa-cc-amex"></i>
                        </li>
                        <li>
                            <i class="fa fa-cc-paypal"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
<script src="../js/googlemaps.js"></script>
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfY0seWtO6G54JmLyiwhs8PmNRyLKDwYU&callback=initMap">
</script>
<script src="../../js/watson.js"></script>

</html>