<html>

<head>
    <title>Simple Chat - Watson</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../../css/watson.css">
</head>

<body>
    <div class="chat-column">
        <div id="chat"></div>
        <label for="textInput" class="inputOutline">
            <input id="textInput" class="input responsive-column" autofocus placeholder="Digite algo" type="text">
        </label>
        <img id="imgwatson" onMouseOut="this.src='../../imagens/watsonsend.png'"
        onMouseOver="this.src='../../imagens/watsonsend2.png'" src="../../imagens/watsonsend.png" width="40" height="40">
    </div>
    <script src="../../js/watson.js"></script>
</body>

</html>